.float-toolbar {
	position: absolute;
	bottom: 2rem;
	height: 3rem;
	width: 60%;
	left: calc(50% - 30%);
	box-shadow: 0px 1px 5px 1px rgb(249, 76, 102, 0.05);
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	overflow-x: scroll;
	overflow-y: hidden;
	z-index: 100;
	background-color: rgba(255,255,255,0.9);
}
.float-toolbar::-webkit-scrollbar {
	display: none;
}
.float-toolbar button{
	margin:0;
	margin-left: 1rem;
	margin-right: 1rem;
}
